.contact {
    /* background-image: url('https://unsplash.com/photos/ycv7guIlR9c');
    height: 90vh; */
    /* height: 90vh;
    background-color: #cccccc;
    background-image: url('../assets/grass.jpg') */
    width: auto;
    height: 105vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../assets/e.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    margin: auto;
    padding: 0;
}

.contact-form-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-form {
    width: 25em;
    border: 1px solid black;
    background-color: slategrey;
    padding: 10px;
}

.contact-page-body {
    box-sizing: border-box;
    background-color: whitesmoke;
    border-radius: 10px;
    width:90%;
    max-width: 50em;
    max-height: 40em;
    margin:50px auto;
    font-family: "Open Sans", sans-serif;
    padding:20px;
}

.t2 {
    background: white;
    width:90%;
    max-width: 800px;
    margin:50px auto;
    font-family: "Open Sans", sans-serif;
    padding:20px;
}

h1, p{
    text-align: center;
  }
  label{
    display:block;
    margin:1em 0 .2em;
  }
  /* single-line text, checkbox, and button */
  input, select, textarea{
    display:block;
    width:100%;
    padding:.3em;
    font-size:17px;
    background-color:#fbfbfb;
    border:solid 1px #CCC;
    resize: vertical;
  }
  textarea{
    min-height:180px;
    max-height: 350px;
  }

  option{
    color:black;
  }
  input[type=checkbox]{
    display:inline;
    width:auto;
    color:red;
  }
  
  input[type=submit]{
    background:#002452;
    margin:1em 0 0;
    color:white;
    border:none;
    border-radius:8px;
    transition:all .3s ease-out;
  }
  

  
  /* hover and focus states */
  input[type=submit]:hover,
  input[type=submit]:focus{
    background: #063c83;
    outline:none;
    cursor: pointer;
  }
  
  @media screen and (min-width:600px) {
    /*  make the form 2 columns */
    form:after{
      content:'';
      display:block;
      clear:both;
    }
    .column{
      width:50%;
      padding:1em;
      float:left;
    }

    
  }

@media (max-width: 600px) {
  .contact {
    height: 120vh;
  }
  .contact-page-body {
    margin-top: 13em;
    margin-bottom: 10em;
    max-height: fit-content;
  }
  textarea{
    min-height: 100px;
    max-height: 180px;
  }
  
  
}