.filterBackground {
    height: 70vh;
    background: rgba(0, 0, 0, 0.55) url('../assets/catalogue_img.jpg');
    background-blend-mode: darken;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.background {
    align-items: center;
    display: flex;
    height: 90vh;
    justify-content: center;
    position: relative;
}

.filterTitle {
    color: #fff;
    margin : 0;
    opacity: 0;
    animation: fade-slide-up 3s 3s cubic-bezier(0, 0.5, 0, 1) forwards;
    animation-delay: 800ms;
    font-size: calc(1.80vw + 1.6vmin);
    font-weight: 300;
    letter-spacing: 0.4em;
    text-transform: uppercase;
}

@media (max-width: 1000px) {
    .filterTitle {
      font-size: 2.5em;
    }
}

.filterHome {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
}

/* Dummy class */
.filterContainer {
    flex-direction: row;

}

.filterTableContainer {
    width: 100%;
    display: flex;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    margin: 50px;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.filterTableTitle {
    display: flex;
    width: 100%;
    /* margin: 10px; */
    padding: 15px;
    justify-content: center;
    font-size: 25px;
    font-weight: 1000;
    color: #002452;
}

.filterSDGDropDown {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.filterButtonContainer {
    justify-content: center;
    padding: 15px;
    width: 100%;
    display: flex;
}

.filterButton {
    /* background: #0dc06a; */
    background: #002452;
    border-radius: 30px;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 15px 30px;
    text-decoration: none;
    cursor: pointer;
}

.filterButton:hover {
    /* background: #0dd876; */
    background: #033372;
}

.projects {
    /* flex-direction: row; */
}

.initial-screen {
    border: 1px solid black;
}

.test {

    height: 50vh;
}



.content {
    opacity: 100;
    transition-duration: 2s;
    transition-timing-function: ease;
}
    .active {
        opacity: 100;
    }

    @media (max-width: 1110px) {
        .filterHome {
            display: flex;
            flex-direction: column;
            gap: 0;
        }
        .filterTableContainer {
            margin: 50px;
        }
        .filterContainer {
            flex-direction: row;
            justify-content: center;
            display: flex;
        }
    }

.search-bar{
    margin: 0px auto;
    width: 100%;
    height: 45px;
    padding: 0 12px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
    background-color: white;
}

.filter-subtitle {
    margin-bottom: 10px;
    font-size: 17px;
}

.filterInstructBlurb {
    /* border: 1px solid black; */
    text-align: center;
    /* font-style: italic; */
    padding: 32px;
    padding-top: 0;
    padding-bottom: 15px;
}

.no-project-container {
    /* height: auto; */
    padding: 3em;
    display: flex;
}

.no-project-card {
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    flex-direction: column;
}

.no-project-msg {
    padding: 3em;
    font-size: 25px;
    color: #002452;
    text-align: center;
}