/* ==== GENERAL STYLES ==== */

* {
  box-sizing: border-box;
}

strong {
  font-weight: 700;
}

/* ==== SIMPLE FOOTER ==== */

footer {
  background-color: #b90e31;
  display: table;
  width: 100vw;
  height: 8rem;
  text-align: center;
  padding: 1rem;
  font-family: 'Arial', sans-serif;
  font-size: .875rem;
}

.wrapper {
  display: table-cell;
  vertical-align: middle;
}

footer small {
  color: #ffffff;
  letter-spacing: .025rem;
  margin-bottom: 1.5rem;
  display: block;
}

.footer-nav a {
  /* color: #00e676; */
  color: #ffffff;
  text-decoration: none;
  margin: 0 .5rem;
  display: inline-block;
}

.footer-nav a:hover {
  /* color: #05c96a; */
  color: #ececec;
  transition: color .15s ease-in-out;
}


