.homeBackground {
    height: 85vh;
    /* background: url("../assets/titleImage.jpg") no-repeat; */
    background: rgba(0, 0, 0, 0.5) url('../assets/titleImage.jpg') center no-repeat;
    background-blend-mode: darken;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding-left: 10%;
    padding-top: 10%;
    padding-right: 10%;
}

.background {
  align-items: center;
  display: flex;
  height: 90vh;
  justify-content: center;
  /* overflow: hidden; */
  position: relative;
  
}


#header-content {
  margin-top: -10%;
  overflow: visible;
  text-align: center;
  width: 100%;
}

.title, .subtitle { 
  color: #fff;
  margin : 0;
  opacity: 0;
}

.title {
  animation: fade-slide-down-rotate 2s 2s cubic-bezier(0, 0.5, 0, 1) forwards;
  animation-delay: 800ms;
  font-size: calc(4.5vw + 1vmin);
  font-weight: 400;
  margin-bottom: 2.5%;
  
}

.subtitle {
  animation: fade-slide-up 3s 3s cubic-bezier(0, 0.5, 0, 1) forwards;
  animation-delay: 800ms;
  font-size: calc(1.10vw + 0.8vmin);
  font-weight: 300;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  /* background-color: rgba(0, 0, 0, 0.5); */
}

@media (max-width: 1000px) {
  .title {
    font-size: 3em;
  }

  .subtitle {
    font-size: 0.8em;
  }
}

.fun-subtitle {
  color: #A1E545;
  font-size: 2em;
  letter-spacing: 0;
  opacity: 0.8;
  padding: 0 0.25em;
  text-transform: none;
}

/* Animations */
@keyframes fade-slide-down {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-slide-down-rotate {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    /* transform: rotate(-4deg); */
  }
}

@keyframes fade-slide-up {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes rotate-up {
    100% {
      transform: rotateZ(-4deg);
    }
  }
  
  @keyframes flip-scale-up {
    0% {
      transform: scale(1) rotateX(0);
    }
    50% {
      transform: scale(2.5) rotateX(-90deg)
    }
    100% {
      transform: scale(1) rotateX(-180deg)
    }
  }


/* --------------- SDG boxes section ------------- */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    /* background-color: linear-gradient(90deg,rgba(244,247,252,0.5) 0%,rgba(244,247,252,0.5) 100%); */
    justify-content: center;
    /* padding-top: 3.5vw; */
    padding-bottom: 2em;
    padding-left: 5em;
    padding-right: 5em;
    background-color: white;
}
  
.sdgBox {
    /* background-color: white; */
    width: 20vh;
    /* margin: 15px;
    text-align: center; */
    height: 20vh;
    /* font-size: 30px; */
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 20vh;
    height: 20vh;
    margin: 15px;
    /* border: 1px solid #f1f1f1; */
    perspective: 700px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    color: white;
    transform: rotateY(180deg);
    align-items: center;
    font-size: 15px;
  }

  .click-more {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.sdg1Color {
    background-color: rgba(229, 36, 59);
}

.sdg2Color {
    background-color: rgba(221, 166, 58);
}

.sdg3Color {
    background-color: rgba(86, 159, 56);
}

.sdg4Color {
    background-color: rgba(197, 25, 45);
}

.sdg5Color {
    background-color: rgba(255, 58, 33);
}

.sdg6Color {
    background-color: rgba(38, 189, 226);
}

.sdg7Color {
    background-color: rgba(252, 195, 11);
}

.sdg8Color {
    background-color: rgba(162, 25, 66);
}

.sdg9Color {
    background-color: rgba(253, 105, 37);
}

.sdg10Color {
    background-color: rgba(221, 19, 103);
}

.sdg11Color {
    background-color: rgba(253, 157, 36);
}

.sdg12Color {
    background-color: rgba(191, 139, 46);
}

.sdg13Color {
    background-color: rgba(63, 126, 68);
}

.sdg14Color {
    background-color: rgba(10, 151, 217);
}

.sdg15Color {
    background-color: rgba(86, 192, 43);
}

.sdg16Color {
    background-color: rgba(0, 104, 157);
}

.sdg17Color {
    background-color: rgba(25, 72, 106);
}


a:link { text-decoration: none; color: white; }

