.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-full, minmax(300px, 1fr));
    align-items: flex-start;
}

.card {
    background: white;
    padding: 1rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
    margin: 1rem;
}

.card-header {
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.card-header.card-image {
    overflow: hidden;
}

.card-header.card-image > img {
    display: block;
    width: 100%;
}

.card-body {
    margin-bottom: 1rem;
}

.card-footer {
    margin-top: 1rem;
}

.btn {
    background: #0dc06a;
    color: white;
    border: none;
    font-size: 1rem;
    padding: .5em .75em;
    border-radius: .25em;
    margin: .25rem;
    cursor: pointer;
}

.btn:hover, .btn:focus {
    background: #0dc06a;
}

.btn.btn-outline {
    background: none;
    border: 1px solid #0dc06a;
    color: #0dc06a
}

.btn.btn-outline:hover, .btn.btn-outline:focus {
    background: hsl(200, 50%, 90%)
}

.btn + .btn {
    margin-left: .25rem;
}